<ng-container *transloco="let t; prefix: 'reviewReminder'">
<app-dialog
  [header]="t('title')"
  [visible]="dialogVisible()"
  (visibleChange)="onHide()"
  [dismissableMask]="false"
  [maxWidth]="'26rem'"
>
  <div class="reminder">
    <div class="reminder__icon">
      <i class="pi pi-clock"></i>
    </div>
    <p class="reminder__message" [innerHTML]="dueCount() === 1 ? t('dueCountSingular') : t('dueCount', { count: dueCount() })"></p>
  </div>
  <div dialogFooter>
    <div class="reminder__actions">
      <button class="reminder__btn--secondary" (click)="onDismiss()">
        {{ t('dismiss') }}
      </button>
      <button class="reminder__btn--primary" (click)="onStudy()">
        <i class="pi pi-play-circle"></i>
        {{ t('study') }}
      </button>
    </div>
  </div>
</app-dialog>
</ng-container>
