<ng-container *transloco="let t; prefix: 'friends.stats'">
<div class="fstats">
  <div class="fstats__top-bar">
    <button class="fstats__back-btn" (click)="goBack()" [attr.aria-label]="t('back')">
      <i class="pi pi-arrow-left"></i>
    </button>
    <h1 class="fstats__title">{{ t('title') }}</h1>
  </div>

  @if (loading()) {
    <div class="fstats__loading">
      <p-progressSpinner [style]="{width: '40px', height: '40px'}" />
    </div>
  } @else if (!friendStats() || !myStats()) {
    <div class="fstats__error">
      <i class="pi pi-exclamation-triangle"></i>
      <p>{{ t('errorLoading') }}</p>
    </div>
  } @else {
    <div class="fstats__comparison">
      <div class="fstats__col">
        <h2 class="fstats__col-title fstats__col-title--me">{{ t('you') }}</h2>
      </div>
      <div class="fstats__col-divider"></div>
      <div class="fstats__col">
        <h2 class="fstats__col-title fstats__col-title--friend">{{ friendStats()!.email_masked }}</h2>
      </div>
    </div>

    <div class="fstats__rows">
      <div class="fstats__row">
        <span class="fstats__value" [class.fstats__value--winner]="myStats()!.current_streak > friendStats()!.current_streak">
          {{ myStats()!.current_streak }}
        </span>
        <span class="fstats__label"><i class="pi pi-bolt"></i> {{ t('currentStreak') }}</span>
        <span class="fstats__value" [class.fstats__value--winner]="friendStats()!.current_streak > myStats()!.current_streak">
          {{ friendStats()!.current_streak }}
        </span>
      </div>

      <div class="fstats__row">
        <span class="fstats__value" [class.fstats__value--winner]="myStats()!.longest_streak > friendStats()!.longest_streak">
          {{ myStats()!.longest_streak }}
        </span>
        <span class="fstats__label"><i class="pi pi-star"></i> {{ t('longestStreak') }}</span>
        <span class="fstats__value" [class.fstats__value--winner]="friendStats()!.longest_streak > myStats()!.longest_streak">
          {{ friendStats()!.longest_streak }}
        </span>
      </div>

      <div class="fstats__row">
        <span class="fstats__value" [class.fstats__value--winner]="myStats()!.total_sessions > friendStats()!.total_sessions">
          {{ myStats()!.total_sessions }}
        </span>
        <span class="fstats__label"><i class="pi pi-calendar"></i> {{ t('totalSessions') }}</span>
        <span class="fstats__value" [class.fstats__value--winner]="friendStats()!.total_sessions > myStats()!.total_sessions">
          {{ friendStats()!.total_sessions }}
        </span>
      </div>

      <div class="fstats__row">
        <span class="fstats__value" [class.fstats__value--winner]="myStats()!.total_cards_reviewed > friendStats()!.total_cards_reviewed">
          {{ myStats()!.total_cards_reviewed }}
        </span>
        <span class="fstats__label"><i class="pi pi-book"></i> {{ t('totalCards') }}</span>
        <span class="fstats__value" [class.fstats__value--winner]="friendStats()!.total_cards_reviewed > myStats()!.total_cards_reviewed">
          {{ friendStats()!.total_cards_reviewed }}
        </span>
      </div>
    </div>
  }
</div>

<p-toast position="bottom-center"></p-toast>
</ng-container>
