<div class="grid grid-cols-1 md:grid-cols-2 gap-4">
  <div *ngFor="let proposal of proposals" class="col">
    <p-card>
      <ng-template pTemplate="header">
        <div class="p-3 font-medium bg-gray-100">
          {{ proposal.front }}
        </div>
      </ng-template>
      <div class="p-3">
        {{ proposal.back }}
      </div>
    </p-card>
  </div>
  
  <div *ngIf="proposals.length === 0" class="col-span-full text-center p-4 text-gray-500">
    Brak propozycji fiszek do wyświetlenia.
  </div>
</div> 